$sansSerif: "Tahoma", "Segoe UI", "Trebuchet MS", "Arial", "Helvetica";
$borderRadius: 4px;
$backColor: #DADADA;
$padding: 15px;
$tooltipWidth: 100px;
$fontSize: 13px;
$infoColor: #FFFFFF;

body {
	margin: 0;
	padding: 0;
	font-size: $fontSize;
}

table {
	font-family: $sansSerif;
	font-size: $fontSize;
}

input[type=button]:hover {
	cursor: pointer;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
}

#left {
	float: left;
	border-radius: $borderRadius;
	background-color: $backColor;
	padding: $padding;
	width: 280px;
}

#output, #adjuster {
	float: left;
	border-radius: $borderRadius;
	background-color: $backColor;
    padding: $padding;
}

#bst, #padding {
	width: 100px;
}

#bst, #rounding, #tendencies {
	padding: 0px 2px 1px 2px;
	height: 23px;
	font-family: $sansSerif;
	font-size: $fontSize;
}

.data th {
	padding: 4px 7px 4px 5px;
}

.data td {
	padding: 3px 7px 5px 5px;
}

.text, .number {
	background-color: #F2F2F2;
	border-radius: $borderRadius;
}

.number {
	text-align: right;
}

.bar {
	background-color: #43CB43;
	height: 10px;
}

.info {
	cursor: default;
	position: relative;
	margin: 1px 2px 4px 2px;
	padding: 1px 5px 2px 5px;
	border: 1px solid $infoColor;
	border-radius: 10px;
	color: $infoColor;
	font-size: $fontSize - 3;
}

.tooltip {
	display: none;
	position: absolute;
	top: 130%;
	left: 50%;
	margin-left: $tooltipWidth * -0.5;
	padding: 2px 3px 4px 3px;
	border-radius: $borderRadius;
	width: $tooltipWidth;
	background-color: #444444;
	text-align: center;
	opacity: 0;
}

.info:hover .tooltip {
	display: block;
	opacity: 0.9;
}