body {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

table {
  font-family: "Tahoma", "Segoe UI", "Trebuchet MS", "Arial", "Helvetica";
  font-size: 13px;
}

input[type=button]:hover {
  cursor: pointer;
}

.data th {
  padding: 4px 7px 4px 5px;
}

.data td {
  padding: 3px 7px 5px 5px;
}

.text, .number {
  background-color: #CCCCCC;
}

.number {
  text-align: right;
}

.bar {
  background-color: #33BB33;
}

.info {
  margin: 1px 2px 4px 2px;
  padding: 1px 5px 2px 5px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  color: #EEEEEE;
  font-size: 10px;
}

#left {
  float: left;
  margin: 5px 0 0 5px;
  padding: 15px;
  border-radius: 5px;
  width: 280px;
  background-color: #BBBBBB;
}

#bst, #padding {
  width: 100px;
}

#bst, #rounding, #tendencies {
  padding: 0px 2px 1px 2px;
  height: 23px;
  font-family: "Tahoma", "Segoe UI", "Trebuchet MS", "Arial", "Helvetica";
  font-size: 13px;
}

#output {
  float: left;
  margin: 4px 0 5px 3px;
}
